{% extends "base.html" %}
{% load static %}

{% block title %}NNB | Home Page{% endblock %}

{% block extra_css %} 
    <!-- Home Page Slider Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/home-image.css' %}">
    <!-- Home Page Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/home-page.css' %}">
{% endblock %}

{% block content %}
    
    <div id="carouselExampleControls" class="carousel slide hero-carousel-section" data-ride="carousel">
        <div class="carousel-inner hero-carousel-main">
            <div id="carousel-image-1" class="carousel-item active carousel-image"></div>
            <div id="carousel-image-2" class="carousel-item carousel-image"></div>
            <div id="carousel-image-3" class="carousel-item carousel-image"></div>
        </div>

        <div class="carousel-arrow-prev">
            <a class="carousel-arrow-btn" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-arrow-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
        </div>

        <div class="carousel-arrow-next">
            <a class="carousel-arrow-btn" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-arrow-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <h1>Welcome to NNB!</h1>


    <div class="container-fluid">
        <div class="row ad-row">
            <div class="col-12 col-lg-5 green"></div>
            <div class="col-12 col-lg-7 red"></div>
        </div>
    </div>
{% endblock %}