{% extends "base.html" %}
{% load static %}

{% block title %}NNB | Home Page{% endblock %}

{% block extra_css %} 
    <!-- Home Page Slider Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/home-image.css' %}">
    <!-- Home Page Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/home-page.css' %}">
{% endblock %}

{% block content %}
    
    <div id="carouselExampleControls" class="carousel slide hero-carousel-section" data-ride="carousel">
        <div class="carousel-inner hero-carousel-main">
            <div id="carousel-image-1" class="carousel-item active carousel-image"></div>
            <div id="carousel-image-2" class="carousel-item carousel-image"></div>
            <div id="carousel-image-3" class="carousel-item carousel-image"></div>
        </div>

        <div class="carousel-arrow-prev">
            <a class="carousel-arrow-btn" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-arrow-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
        </div>

        <div class="carousel-arrow-next">
            <a class="carousel-arrow-btn" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-arrow-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="ad-row">
        <div class="ad-one">
            <div class="ad-cta-section">
                <h2 class="ad-text">Mobile Phones</h2>
                <a class="ad-button" href="{% url 'display_products' %}?product_type=mobiles">Shop Now</a>
            </div>
            
            <div class="ad-one-image"></div>
        </div>
        <div class="ad-two">
            <div class="ad-cta-section">
                <h2 class="ad-text">Accessories</h2>
                <a class="ad-button" href="{% url 'display_products' %}?product_type=accessories">Shop Now</a>
            </div>
            
            <div class="ad-two-image"></div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %} 
    {{ block.super }}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}