/* --- Home Page */

.hero-carousel-section {
    width: 93%;
    /* 66px navbar & 20px added to keep 20px margin gap between everything on home page for uniformity */
    margin: calc(66px + 20px) auto 0;
}

.hero-carousel-main {
    height: 450px;
    border-radius: 5px;
}

.carousel-image {
    background-size: cover;
    height: 450px;
    border-radius: 5px;
}

#carousel-image-1 {
    background: url(/media/laptops.jpg) center center;
}

#carousel-image-2 {
    background: url(/media/mobiles.jpg) center center;
}

#carousel-image-3 {
    background: url(/media/tablets.jpg) center center;
}

.carousel-arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
    transition: all ease-in-out 0.3s;
}

.carousel-arrow-btn:hover {
    text-decoration: none;
    color: #f7f7f7;
    background: #000;
    transition: all ease-in-out 0.3s;
}

.carousel-arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 18px;
}

.carousel-arrow-next,
.carousel-arrow-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    text-align: center;
    transition: opacity .15s ease;
}

.carousel-arrow-next {
    right: -20px;
}

.carousel-arrow-prev {
    left: -20px;
}

.ad-row {
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

.ad-one {
    height: 350px;
    width: calc(((100% / 12) * 5) - 10px);
    margin-right: 10px;
    background: url(/media/ad1.jpg) center center;
    background-size: cover;
    border-radius: 5px;
}

.ad-two {
    height: 350px;
    width: calc(((100% / 12) * 7) - 10px);
    margin-left: 10px;
    background: url(/media/ad2.jpg) center center;
    background-size: cover;
    border-radius: 5px;
}


@media (max-width: 992px) {
    .hero-carousel-main {
        height: 400px;
    }
    
    .carousel-image {
        height: 400px;
    }

    .ad-row {
        flex-direction: column;
    }

    .ad-one,
    .ad-two {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {

}

@media (max-width: 576px) {
    .ad-one,
    .ad-two {
        height: 300px;
    }

    .carousel-arrow-btn {
        position: absolute;
        bottom: -20px;
    }

    .carousel-arrow-prev {
        right: 0;
        left: -50px;
    }

    .carousel-arrow-next {
        right: -50px;
        left: 0;
    }

    .ad-row {
        margin-top: 40px;
    }
}

@media (max-width: 350px) {
    .hero-carousel-main {
        height: 350px;
    }
    
    .carousel-image {
        height: 350px;
    }

    .ad-one,
    .ad-two {
        height: 275px;
    }
}