{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block title %}Checkout | NNB {% endblock %}

{% block extra_css %}
    <!-- Custom Cart Page CSS -->
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <!-- Custom Checkout Page CSS -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid push-down">
    <div class="row">
        <div class="col-12 col-md-8 main-cart">

            <!-- Cart Page Header -->
            <div class="cart-top">
                <h1>Checkout Page</h1>
                <p>{{ product_count }} Item(s) in your cart</p>
            </div>
            <hr class="top-seperator">
            <!-- / .Cart Page Header -->

            <!-- Cart Items Section -->
                <div>
                    <!-- Order Price Summary Titles for Mobile -->
                    <div class="d-md-none text-center font-weight-bold row product-row p-0 mb-2">
                        <div class="col-4">
                            <p>Cart Total</p>
                        </div>
                        <div class="col-4">
                            <p>Delivery Cost</p>
                        </div>
                        <div class="col-4">
                            <p class="text-center">Grand Total</p>
                        </div>
                    </div>
                    <!-- / .Order Price Summary Titles for Mobile  -->

                     <!-- Price Breakdown for Mobile   -->
                    <div class="d-md-none text-center row product-row p-0 mb-2">
                        <div class="col-4">
                            <p>&euro;{{ total }}</p>
                        </div>
                        <div class="col-4">
                            <p>&euro;{{ delivery_cost|floatformat:2 }}</p>
                        </div>
                        <div class="col-4">
                            <p class="text-center">&euro;{{ grand_total|floatformat:2 }}</p>
                        </div>
                    </div>
                    <!-- / .Price Breakdown for Mobile  -->
                </div>

                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}

                    <h5>Details</h5>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email_address | as_crispy_field }}

                    <h5>Delivery</h5>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    

                    <h5>Payment</h5>
                    <!-- A stripe card element will go here -->

                    <!-- Used to display form errors -->

                    <!-- A stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret"> 
                    <div class="form-btns">
                        <a class="btn back-btn hvr-icon-wobble-horizontal" href="{% url 'view_cart' %}">
                            <span><i class="fas fa-angle-left hvr-icon"></i> Adjust Bag</span>
                        </a>
                        <button class="btn checkout-btn hvr-icon-wobble-horizontal" id="submit-button">
                            <span>Complete Order <i class="fas fa-angle-right hvr-icon"></i></span>
                        </button>
                    </div>
                </form>
        </div>

        <!-- Fixed Order Summary Section -->
        <div class="d-none d-md-block col-12 col-md-4 order-summary overflow-auto">
            <h2 class="summary-heading">Order Summary</h2>
            {% for item in cart_items %}
                <img class="text-center border border-dark mb-3" src="{{ item.product.image_1.url }}" alt="{{ item.product.image_1 }}" height="100" width="100">
                <p>x {{ item.quantity }} {{ item.product.name }}</p>
                <p>&euro;{{ item.product.price_current }} Each</p>
                <p>Subtotal:  &euro;{{ item.product.price_current | multiply:item.quantity }}</p>
                <hr>
            {% endfor %}

            <p class="cart-total"><strong>Cart Total:</strong> &euro;{{ total }}</p>
            <p class="deliv-total"><strong>Delivery Cost:</strong> &euro;{{ delivery_cost|floatformat:2 }}</p>
            <p class="total-bottom"><strong>Grand Total:</strong> &euro;{{ grand_total|floatformat:2 }}</p>
            <hr>
            {% if for_free_delivery %}
                <p>Free Delivery if you spend <strong>{{ for_free_delivery }}</strong> more</p>
            {% endif %}
        </div>
        <!-- / .Fixed Order Summary Section -->

    </div>
</div>
<div id="loading-overlay">
    <h1 class="loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-spinner fa-spin"></i>
        </span>
    </h1>
        <h3 class="loading-text">Processing Order...</h3>
</div> 

{% endblock %}

{% block extra_javascript %} 
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret"  }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}