.order-summary {
    background: #ebebeb;
    position: fixed;
    right: 0;
    height: 100vh;
    border-left: 1px solid black;
    text-align: center;
}

.cart-total,
.deliv-total,
.grand-total {
    margin: 30px 0;
}

.direction-buttons {
    position: fixed;
    bottom: 50px;
    height: 60px;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.back-btn {
    background: white;
    border: 1px solid #000;
    width: 190px;
    padding: 20px 0px;
    text-transform: uppercase;
}

.back-btn:hover {
    background: rgb(228, 228, 228);
}

.checkout-btn {
    background: #35A65B;
    border: 1px solid #000;
    width: 190px;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
}

.checkout-btn:hover {
    color: white;
    background: #488c5f;
}

.checkout-btn i {
    font-size: 16px;
    margin-left: 10px;
}

.back-btn i {
    font-size: 16px;
    margin-right: 10px;
}

.summary-heading {
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* ---  */

.cart-top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.cart-top p {
    margin-bottom: 10px;
    margin-right: 10px;
}

.top-seperator {
    margin-top: 8px;
    border-bottom: 1px solid black;
}

.product-row {
    padding: 20px 0;
    border-bottom: 1px solid black;
    margin: 20px 0px;
}

.update-qty {
    width: 70px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.btn-update-qty {
    margin: auto;
    display: block;
}

.cart-item-name {
    color: black;
}

.cart-item-name:hover {
    color: black;
    text-decoration: none;
}

.remove-item-btn a i,
.remove-item-btn a i:hover {
    color: black;
}


/* --------------------------Media Query */

/* Active for screen sizes under 1190px */
@media (max-width: 1190px) {
    .direction-buttons {
        flex-direction: column-reverse;
        bottom: 80px;
    }

    .back-btn {
        margin-top: 20px;
    }
}

/* Active for screen sizes under 992px */
@media (max-width: 992px) {

    .summary-heading {
        font-size: 24px;
    }
}

/* Active for screen sizes under 767px */
/* Added to remove big white space at bottom of screen on standard iPad due to Bootstrap breakpoints being 1px off */
@media (max-width: 767px) {
    /* --- Footer */
    .order-summary {
        border-left: none;
        border-top: 1px solid black;
        background: #ebebeb;
        position: fixed;
        bottom: 0;
        height: 10vh;
    }

    .summary-heading,
    .cart-total,
    .deliv-total,
    .grand-total {
        display: none;
    }

    .grand-total {
        margin: 30px 0;
    }

    .direction-buttons {
        bottom: 10px;
        right: 0;
        width: 100%;
        flex-direction: row;
    }

    .checkout-btn {
        padding: 15px 2px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        border: 1px solid #35A65B;
    }  

    .back-btn {
        padding: 15px 2px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
    } 

    .main-cart {
        margin-bottom: 7rem;
    }
}

/* Active for screen sizes under 576px */
@media (max-width:576px) {
    .product-row {
        text-align: center;
    }

    .remove-item-btn {
        position: absolute;
        right: 45px;
    }

    .cart-top {
        flex-direction: column;
        align-items: center;
    }

    .costs-sum {
        border-bottom: none;
    }
}