@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.no-gutters {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.push-down {
    margin-top: 67px;
}

/* -------------------------------- Navigation Bar */

.navigation-colour {
    background: rgba(255, 255, 255, 0.96);
    width: 100%;
    border-bottom: 2px solid rgba(226, 226, 226, 0.863);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navigation-sect {
    flex-direction: row;
    justify-content: center;
}

.custom-icon {
    background-image: url('/media/burger-icon-black.png') !important;
}

.no-border {
    border: none;
}

/* --- Navbar Left Side Items  */
.logo{
    display: block;
    background: url(../../media/logo-black.png) center no-repeat;
    background-size: 3.5rem;
    width: 3.5rem;
    height: 3rem;
    margin: 0 25px 0 0;
}

/* --- Navbar Right Side Items  */

.right-list {
    list-style: none;
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}

.hide-icons {
    opacity: 0;
    transition: 0.6s;
}

.right-items {
    margin: 10px 15px;
}

.right-items a {
    color: #000;
}

.new-dropdown {
    position: absolute;
    min-width: auto;
    right: -65px;
    left: unset;
}

.cart-count {
    background: lightgrey;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: -9px;
    right: -14px;
    color: black;
}

/* --- Navbar Center Items  */
.center-list {
    list-style: none;
    display: flex;
}

.center-items {
    margin: 10px 15px;
    transform: scale(1);
    transition: 0.5s;
    display: block;
}

.center-items a {
    color: #000;
    font-weight: 500;
}

.center-items a:hover {
    text-decoration: none;
}

.center-items::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #000;
    transition: width .3s;
}

.center-items.center-items-hidden {
    transform: scale(0);
}

.center-items:hover::after {
    width: 100%;
    transition: width .5s;
    
}

.center-items:nth-child(7),
.center-items:nth-child(3).center-items-hidden {
    transition-delay: 0.6s;
}

.center-items:nth-child(6),
.center-items:nth-child(4).center-items-hidden {
    transition-delay: 0.5s;
}

.center-items:nth-child(5),
.center-items:nth-child(5).center-items-hidden {
    transition-delay: 0.4s;
}

.center-items:nth-child(4),
.center-items:nth-child(6).center-items-hidden {
    transition-delay: 0.3s;
}

.center-items:nth-child(3),
.center-items:nth-child(7).center-items-hidden {
    transition-delay: 0.2s;
}

/* --- Navbar Search Bar */
.search-form {
    position: absolute;
    top: 0;
    left: 50%;
    width: 600px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    transform: translate(40%);
}

.show-form {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%);
    transition-delay: 0.6s;
}

.search-box {
    width: 100%;
    height: 37px;
    color: #000;
    font-size: 16px;
    margin-top: 15px;
    padding: 8px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
} 

.search-form-icon {
    position: absolute;
    top: 24px;
    left: -26px;
    font-size: 18px;
    color: #000;
}

.close-search {
    position: absolute;
    right: 174px;
    top: 11px;
    height: 44px;
    color: #000;
    line-height: 44px;
    font-size: 18px;
    text-align: right;
    width: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.close-search.active {
    opacity: 1;
    visibility: visible;
    transition: 1.2s;
}

.search-button {
    background: transparent;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    top: 24px;
    right: -4px;
    padding: 2px 6px;
}

.mobile-search-btn {
    background: none;
    outline: none;
    border: none;
}

/* --------------------------Media Query */

/* Active for screen sizes under 992px */
@media (max-width: 992px) {
    /* --- Navigation Bar */
    .center-items a {
        font-size: 14px;
    }

    .right-items a {
        font-size: 15px;
    }

    .search-box {
        width: 70%;
        margin: 15px auto 0;
        display: block;
    }

    .search-form-icon {
        left: 70px;
    }

    .search-button {
        right: 120px;
        margin-left: 30px;
    }
}

/* Active for screen sizes under 767px */
@media (max-width: 767px) {
    /* --- Navigation Bar */
    .nav-hide {
        display: none;
    }

    .right-list {
        position: absolute;
        right: 80px;
    }

    .mobile-search input {
        margin-top: 20px;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
    }

    .mobile-search-form-icon {
        position: absolute;
        top: 58px;
        font-size: 18px;
        color: #000;
        right: 70px;
    }

    .center-items {
        margin: 15px 0;
    }
}