.product-top-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

/* --- Breadcrumbs */
.custom-breadcrumb {
    margin: 0;
    padding: 0;
}

.product-top-sect ol {
    border-radius: 0;
    background: #f7f7f7;
    margin-left: 20px;
    background: none;
}

.breadcrumb {
    font-size: 15px;
}

.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item a:hover {
    color: #000;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

/* --- Sort Products by Button */
.sort-by-btn {
    text-align: right;
    margin-right: 35px;
}

.sort-by-btn button {
    width: 200px;
    background: white;
    color: black;
    border: 1px solid black;
}

.sort-by-btn .dropdown-menu {
    width: 200px;
    background: white;
    color: black;
    border: 1px solid black;
}

.sort-by-btn .dropdown-menu hr {
    margin: 5px 0;
}

.btn.focus, .btn:focus {
    box-shadow: none
}


/* --- Product Cards */

.all-products {
    margin: 40px auto;
}

.product-card {
    height: 400px;
    width: 300px;
    margin: 0 auto 50px;
}

.product-image img {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-prices {
    text-align: center;
    font-size: 22px;
    margin-bottom: 3px;
}

.old-price {
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 16px;
    color: grey;
}


.current-price {
    margin-left: 5px;
}

.product-name {
    text-align: center;
    margin-bottom: 5px;
}

.bottom-items {
    margin: 0 auto;
}

.rating {
    display: inline-block;
    margin: 0 75px 0 0;
    vertical-align: middle;
}

.more-details {
    display: inline-block;
    vertical-align: middle;
    color: black;
}

.more-details:hover {
    color:  black;
    text-decoration: none;
}

.more-details i {
    padding-left: 4px;
    vertical-align: initial;
}

.side-drop::after {
    display: none;
}

.side-drop i {
    font-size: 24px;
}


/* --- Product Details Images */

#expandedImg {
    height: 400px;
    margin: auto;
    display: block;
}

#images * {
    box-sizing: border-box;
}

.column {
    width: 15%;
    padding: 10px;
    display: inline-block;
}

.image-row {
    border-top: 2px solid rgba(217, 217, 217, 0.9);
    border-bottom: 2px solid rgba(217, 217, 217, 0.9);
}

.image-container {
    position: relative;
    display: block;
}

.small-image {
    width: 100%;
    opacity: 0.8; 
    cursor: pointer; 
}

.small-image:hover {
    opacity: 1;
}

#first-image {
    margin-left: 10%;
}

.add-cart-btn {
    background: #35A65B;
    color: #fafafa;
    border: 1px solid #35A65B;
    width: 180px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 9px 12px;
    margin: 20px 0;
}

.add-cart-btn:hover {
    background: #488c5f;
    border: 1px solid #488c5f;
    color: #fafafa;
}

.quantity {
    width: 180px;
    color: #000;
    padding: 9px 12px;
    border: 1px solid black;
    text-align: center;
}

.availablity span {
    font-weight: bold;
    color: #000;
}

#avail-in {
    color: #488c5f;
}

#avail-low {
    color: #ff9633;
}

#avail-out {
    color: #ff2e2e;
}   

#product-deat-price,
.current-price-single {
    font-weight: 600;
    font-size: 21px;
}

.review-form-item {
    color: #000;
    padding: 9px 12px;
    border: 1px solid rgb(124, 122, 122);
}

.review-rating {
    width: 180px;
    text-align: center;
    margin-left: 0 !important;
}

.review-row {
    margin-bottom: 3rem;
}

.required {
    color: rgba(255, 0, 0, 0.801);
}

.poster-action {
    font-weight: 600;
    color: black;
}

.poster-action:hover {
    text-decoration: none;
    color: black;
}



/* --------------------------Media Query */

/* Active for screen sizes under 992px */
@media (max-width: 992px) {
    #expandedImg {
        height: 375px;
    }

    #first-image {
        margin-left: 0;
    }

    .column {
        width: 19%;
    }

}

/* Active for screen sizes under 767px */
@media (max-width: 767px) {
    /* --- Navigation Bar */
    .add-cart-form {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0px;
        z-index: 999;
        border-top: 1px solid black;
        background: #ebebeb;
        justify-content: space-around;
        align-items: center;
        min-height: 100px;
    }

    .add-cart-btn {
        width: 180px;
        padding: 15px 12px;
        margin: 20px;
    }

    .quantity {
        width: 180px;
        color: #000;
        padding: 15px 10px;
        border: 1px solid black;
        text-align: center;
        height: 54px;
        margin: 20px;
    }

    .review-row {
        margin-bottom: 8rem!important;
    }
}

/* Active for screen sizes under 576px */
@media (max-width:576px) {
    #expandedImg {
        height: 300px;
    }

    .column {
        width: 18%;
        padding: 7px;
    }

}

/* Active for screen sizes under 350px */
@media (max-width: 350px) {
    #expandedImg {
        height: 200px;
    }
}


/* Active for screen sizes under 292px */
@media (max-width:292px) {
    #expandedImg {
        height: 150px;
    }
}