.product-top-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

/* --- Breadcrumbs */
.custom-breadcrumb {
    margin: 0;
    padding: 0;
}

.product-top-sect ol {
    border-radius: 0;
    background: #f7f7f7;
    margin-left: 20px;
    background: none;
}

/* --- Sort Products by Button */
.sort-by-btn {
    text-align: right;
    margin-right: 35px;
}

.sort-by-btn button {
    width: 200px;
    background: white;
    color: black;
    border: 1px solid black;
}

.sort-by-btn .dropdown-menu {
    width: 200px;
    background: white;
    color: black;
    border: 1px solid black;
}

.sort-by-btn .dropdown-menu hr {
    margin: 5px 0;
}

.btn.focus, .btn:focus {
    box-shadow: none
}

/* --- Product Cards */

.all-products {
    margin: 40px auto;
}

.product-card {
    height: 400px;
    width: 300px;
    margin: 0 auto 50px;
}

.product-image img {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-prices {
    text-align: center;
    font-size: 22px;
    margin-bottom: 3px;
}

.old-price {
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 16px;
    color: grey;
}


.current-price {
    margin-left: 5px;
}

.product-name {
    text-align: center;
    margin-bottom: 5px;
}

.bottom-items {
    margin: 0 auto;
}

.rating {
    display: inline-block;
    margin: 0 25px 0 0;
    vertical-align: middle;
}

.more-details {
    display: inline-block;
    margin: 0 0 0 50px;
    vertical-align: middle;
    color: black;
}

.more-details:hover {
    color:  black;
    text-decoration: none;
}

.more-details i {
    padding-left: 4px;
    vertical-align: initial;
}

.side-drop::after {
    display: none;
}

.side-drop i {
    font-size: 25px;
}


/* --- Product Details Images */

#expandedImg {
    width: 50%;
    margin: auto;
    display: block;
}

#images * {
    box-sizing: border-box;
}

.column {
    width: 15%;
    padding: 10px;
    display: inline-block;
}

.image-row:after {
  content: "";
  display: table;
  clear: both;
}

.image-container {
    position: relative;
    display: block;
}

.small-image {
    width: 100%;
    opacity: 0.8; 
    cursor: pointer; 
}

.small-image:hover {
    opacity: 1;
}

#first-image {
    margin-left: 10%;
}