{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }} | NNB {{ product.category|title }}{% endblock %}

{% block content %}
    <p>This is the product template</p>

    <h1>{{ product.name }}</h1>
    <p><strong>Product Name:</strong> {{ product.name }}</p>
    <p><strong>Product Category:</strong> {{ product.category }}</p>
    <p><strong>Product Code:</strong> {{ product.product_code }}</p>
    <p><strong>Product Description:</strong> {{ product.product_description|linebreaksbr  }}</p>
    <p><strong>Original Product Price:</strong> <s>&euro;{{ product.price_original }}</s></p>
    <p><strong>Current Product Price:</strong> &euro;{{ product.price_current }}</p>
    {% if product.in_stock %}
        {% if product.stock >= 10%}
            <p><strong>In Stock ? :</strong> In Stock</p>
        {% else %}
            <p><strong>In Stock ? :</strong> Low Stock</p>
        {% endif %}
    {% else %}
        <p><strong>In Stock ? :</strong> Out of Stock</p>
    {% endif %}
    <p><strong>Stock Amount:</strong> {{ product.stock }}</p>

    <p><strong>Image 1:</strong></p>
    <img src="/media/{{ product.image_1 }}" alt="" height="100" width="100">
    {% if product.image_2 %}
        <p><strong>Image 2:</strong></p>
        <img src="/media/{{ product.image_2 }}" alt="">
    {% endif %}
    {% if product.image_3 %}
        <p><strong>Image 3:</strong></p>
        <img src="/media/{{ product.image_3 }}" alt="">
    {% endif %}
    {% if product.image_4 %}
        <p><strong>Image 4:</strong></p>
        <img src="/media/{{ product.image_4 }}" alt="">
    {% endif %}
    {% if product.image_5 %}
        <p><strong>Image 5:</strong></p>
        <img src="/media/{{ product.image_5 }}" alt="">
    {% endif %}

    <form action="{% url 'add_to_cart' product.id %}" method="POST">
        {% csrf_token %}
        <input class="form-control qty_input" type="number" value="1" min="1" max="50" name="quantity" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
        <input type="submit" value="Add to Cart">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>
{% endblock %}