{% extends "base.html" %}
{% load static %}

{% block title %}{% for type in product_type %}{{ type.friendly_name }} {% endfor %}- Products Page | NNB{% endblock %}

{% block extra_meta %}
<!-- Open Graph Tags -->
<meta property="og:title" content="{% for type in product_type %}{{ type.friendly_name }} {% endfor %} in NNB Electrical Ecommerce Store">
<meta property="og:description" content="{% for type in product_type %}{{ type.description }} {% endfor %}">
<meta property="og:image" content="/media/logo-black.png">
{% endblock %}

{% block extra_css %}
    <!-- Custom Products Page CSS -->
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid push-down">
    <!-- Breadcrumbs and Sort By Section -->
    <div class="row">
        <div class="col-10 product-top-sect">

            <!--  Breadcrumbs -->
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    {% if search_content %}
                        <li class="breadcrumb-item active" aria-current="page">Search Result</li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">Products - {% for type in product_type %}{{ type.friendly_name }} {% endfor %}</li>
                    {% endif %}
                </ol>
            </div>
            <!--  Breadcrumbs -->

            <!-- Sort Products By Button -->
            <div class="dropdown sort-by-btn">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if sorted_by == "price_current_asc" %}
                        Price Low to High
                    {% elif sorted_by == "-price_current_desc" %}
                        Price High to Low
                    {% elif sorted_by == "lower_name_asc" %}
                        Name A to Z
                    {% elif sorted_by == "-lower_name_desc" %}
                        Name Z to A
                    {% else %}
                        Sort By:
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'display_products' %}?product_type={% for type in product_type %}{{ type.name }},{% endfor %}">Sort By:</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'display_products' %}?product_type={% for type in product_type %}{{ type.name }},{% endfor %}&sort=price_current&direction=asc">Price Low to High</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'display_products' %}?product_type={% for type in product_type %}{{ type.name }},{% endfor %}&sort=price_current&direction=desc">Price High to Low</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'display_products' %}?product_type={% for type in product_type %}{{ type.name }},{% endfor %}&sort=name&direction=asc">Name A to Z</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'display_products' %}?product_type={% for type in product_type %}{{ type.name }},{% endfor %}&sort=name&direction=desc">Name Z to A</a>
                </div>
            </div>
            <!-- / .Sort Products By Button -->
        </div>
    </div>
    <!-- / .Breadcrumbs and Sort By Section -->

    <div class="row">
        <div class="all-products col-10">
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card product-card">
                            <a class="product-image" href="{% url 'indiv_products' product.id %}">
                                <img src="{{ product.image_1.url }}" alt="{{ product.name }}" height="298" width="298">
                            </a>
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-prices">
                            {% if product.price_original %}
                                <span class="old-price">&euro;{{ product.price_original }}</span> 
                                <span class="current-price">&euro;{{ product.price_current }}</span>
                            {% else %}
                                <span class="current-price">&euro;{{ product.price_current }}</span>
                            {% endif %}
                            </p>
                            <div class="bottom-items">
                                {% if request.user.is_superuser %}
                                    <div class="dropdown rating">
                                        <button class="btn dropdown-toggle side-drop" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                            <a class="dropdown-item" href="{% url 'admin:index' %}products/product/{{ product.id }}/delete/">Delete Product</a>
                                            <a class="dropdown-item" href="{% url 'admin:index' %}products/product/{{ product.id }}/change/">Edit Product</a>
                                        </div>
                                    </div>
                                    <a class="more-details hvr-icon-wobble-horizontal" href="{% url 'indiv_products' product.id %}">View Details <i class="fas fa-angle-right hvr-icon"></i></a>
                                {% else %}
                                    <a class="more-details hvr-icon-wobble-horizontal" href="{% url 'indiv_products' product.id %}">View Details <i class="fas fa-angle-right hvr-icon"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}